@charset "UTF-8";

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0vh;
    padding: 0vh;
}

nav#menu{
    height: 18vh;
    align-items: center;
    background-color: #000099;
    display: flex;
    justify-content: space-around;
}

ul#navegacao {
    list-style: none;
    display: flex;
}


ul#navegacao li{
    text-transform: uppercase;
    padding: 5px;
    margin: 5px;
}

a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    transition: 300ms;
}
a:hover{
    background-color: slategray;
    opacity: 0.8;
}

main{
    
    margin-left: 10vh;
    margin-right: 10vh;
    background: url(../_imagens/patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg) center center no-repeat;
    background-size: cover;
    height: 92vh;
}